---

---

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.6/dialog-polyfill.min.js"
  integrity="sha512-qUIG93zKzcLBVD5RGRbx2PBmbVRu+tJIl+EPLTus0z8I1AMru9sQYdlf6cBacSzYmZVncB9rcc8rYBnazqgrxA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<div>
  <script>
    var dialog = document.querySelector("dialog")
    dialogPolyfill.registerDialog(dialog)
  </script>

  <button
    class="btn callback-btn btn--primary btn--contained"
    onclick={`document?.getElementById("dialog").showModal(); document.getElementsByTagName("html")[0].classList.add("modal-open")`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path
        d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
      ></path>
      <path
        d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
      ></path>
    </svg>
     Пропатчится
  </button>

  <dialog
    onkeydown={`document?.getElementById("dialog").addEventListener("keydown", function (e){ if (e.code === "Escape") { dialog.close(); document.getElementsByTagName("html")[0].classList.remove("modal-open")}})`}
    id="dialog"
  >
    <span class="dialog-title">
      <h4>
        Связаться с нами
        <button
          onclick={`document?.getElementById("dialog").close();  document.getElementsByTagName("html")[0].classList.remove("modal-open")`}
          class="btn"
        >
          &#9587
        </button>
      </h4>

      <p class="subtitle-2"></p>
    </span>
    <form
      method="dialog"
      onsubmit={`document?.getElementById("dialog").close(); document.getElementsByTagName("html")[0].classList.remove("modal-open")`}
      class="dialog-body"
    >
      <label>
        Имя
        <input
          type="text"
          placeholder="Илья"
          name="name"
          autocomplete="given-name"
        />
      </label>
      <label>
        Email
        <input
          placeholder="example@gmail.com"
          type="email"
          name="name"
          autocomplete="email"
        />
      </label>
      <label>
        Связаться в
        <select id="select" onchange={`(e) => {contact = e.value}`}>
          <option>Telegram</option>
          <option>Email</option>
          <option>WhatsApp</option>
        </select>
      </label>
      <button type="submit" class="btn btn--primary"> Отправить</button>
    </form>
  </dialog>

  <style>
    @media (max-width: 600px) {
      dialog {
        position: fixed;
        bottom: 0;
        right: 0;
      }
    }
    .callback-btn svg {
      display: none;
    }
    .dialog-body input {
      padding: 0.5rem;
      border-radius: 7px;
      border: none;
    }
    .dialog-body label {
      display: flex;
      flex-direction: column;
    }
    .dialog-body {
      width: 100%;
      display: flex;
      align-items: stretch;
      gap: 1rem;
      flex-direction: column;
    }

    .dialog-title h4 button {
      vertical-align: top;
    }
    .dialog-title h4 {
      margin: 0;
    }
    .dialog-title button {
      display: inline-flex;
      color: #f9f9f9;
    }
    dialog {
      border: 0;
      color: #f9f9f9;
      background: #26282e;
      width: 100%;
      height: 100%;
      border-radius: var(--ds-rounded-lg);
    }
    dialog::backdrop {
      border: none;
      backdrop-filter: blur(2px);
    }
  </style>
</div>
<script>
  const contact = document.getElementById("contact")
  console.log(contact)
</script>
