<section id="contacts" class="scSubcribe container">
  <h2>Подпишитесь</h2>
  <p class="typo-sub-1">На обновления нашей компании в социальных сетях</p>
  <div class="social" itemscope itemprop="">
    <a
      aria-label="Внешняя ссылка на профиль Телеграм"
      href="https://t.me/ByLatteMattina"
      title="Связаться в телеграме"
      title="telegram link"
      ><span class="socialItem"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="71"
          height="68"
          viewBox="0 0 71 68"
          fill="inherit"
        >
          <path
            d="M54 16.1249C52.9167 15.9166 51.875 17.0416 51 17.6249L43.5833 22.7499L32.4167 30.5416L23.125 36.9999L18 40.5832C17.5 40.9166 16.2917 41.9166 15.7083 41.9166C15.25 41.9582 14.0417 41.2499 13.5833 41.0416L8.58333 38.4582L4.41667 36.3332C3.125 35.6666 2 35.2082 1.33333 33.8749C0.5 32.1666 0.916666 29.9582 2.41667 28.7916C3.125 28.2499 5.125 27.4999 6 27.0832L14.5833 23.3749L43.2917 10.8332L57.5833 4.6249L63.7083 1.95824C64.7917 1.4999 66.0833 0.79157 67.2917 0.874903C69 0.999903 70.5417 2.16657 70.9167 3.8749C71 4.2499 71 4.7499 71 5.1249C71 6.33324 70.4583 7.79157 70.2083 8.9999L68 18.1249L61.0417 46.7082L58.75 56.2916C58.3333 57.8332 58.1667 59.5416 56.8333 60.6249C55.625 61.5832 53.8333 61.6666 52.4167 61.0832L50.875 60.2499L47.7083 58.6666L40.7083 55.0416L37.7083 53.4582C37.4167 53.2916 36.7917 52.9582 36.4583 53.0416C36.125 53.1666 35.875 53.7082 35.7083 53.9999L34.2083 56.4166L29.5833 63.9999C28.5417 65.7499 27.4167 67.2916 25.125 67.0832C22.375 66.8749 21.2917 64.9999 21.2917 62.4166V49.8749C21.2917 46.7082 22.5417 46.2916 24.5833 44.2916L27.125 41.8332L29.875 39.2499L32.125 36.9999L36.5833 32.8332L38.7083 30.7499L48 21.8749L54 16.1249Z"
          ></path>
        </svg></span
      ></a
    >
    <a
      aria-label="Внешняя ссылка на профиль VK"
      id="vk"
      href="https://vk.com/lattemattina"
      target="_blank"
      rel="nofollow"
      class="secondary"
    >
      <span class="socialItem"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="inherit"
        >
          <path
            d="M33.7083 32.1251C34.0416 30.5834 35.7083 29.7917 37.125 29.5001C39.5416 29.0834 40.9583 29.1667 43.2916 29.1251L44.5833 29.0417L46.5833 29.1251C47.8333 29.1251 50.6666 29.4167 51.5416 30.3334C52.75 31.5001 52.5833 34.2501 52.5833 35.8751L52.4166 38.0001V41.4167L52.2916 44.5834C52.2916 45.6251 52.4166 47.5417 53 48.4167C53.2916 48.8751 53.875 49.3751 54.4166 49.2917C54.8333 49.2501 55.25 48.8751 55.5833 48.6251C56.5416 47.8334 57.125 47.1251 57.875 46.1251C60.1666 43.1251 62.5833 38.7917 64.125 35.2917C64.5416 34.2917 65.3333 31.9584 66.1666 31.3751C66.7083 31.0001 67.5 31.0001 68.125 31.0001H76.875L80.125 30.9167C81.75 31.0417 82.75 31.3334 82.7083 33.1251C82.6666 34.7084 81.5 36.6667 80.7083 38.0001C78.7083 41.3334 76.25 44.3334 73.9583 47.4167C73.0416 48.6251 70.875 51.2501 70.875 52.7084C70.9166 54.2501 73.5833 56.6667 74.7083 57.6667C76.625 59.2917 79.2083 62.1251 80.75 64.1251C81.5833 65.2501 82.5833 66.7501 82.7083 68.1251C82.9166 71.4168 78.4166 70.7084 76.2916 70.7084L74.2916 70.8751H70.2916H69C67.375 70.8334 65.75 70.1668 64.4166 69.2084C62.125 67.5418 60.5416 65.1251 58.5833 63.1251C57.9166 62.5001 56.5 61.2501 55.5833 61.2084C54.875 61.1667 54.125 61.9167 53.75 62.4167C52.625 63.9167 52.4583 65.9584 52.4166 67.7084C52.4166 68.7917 52.1666 69.8334 51.125 70.3751C50.5 70.7084 49.8333 70.7084 49.125 70.7084H43.7083C38.5416 70.7084 32.5 67.2501 28.7083 63.9584C26.3333 61.8751 24.0833 58.8334 22.25 56.2917C18.375 50.9584 15.5416 45.8751 12.625 40.0001L10.0833 34.5834C9.74997 33.8334 9.29163 32.6667 9.7083 31.8751C10.1666 31.0001 11.2916 31.0001 12.125 31.0001H17L19.125 30.8751H21.7083C23.1666 30.8751 24.4166 31.3334 25.0833 32.7084L26.2083 35.2917L29.3333 41.4167C30.2083 43.1251 31.0416 44.8751 32.2083 46.4167C32.6666 47.0001 33.0416 47.5001 33.5833 48.0001C33.9583 48.3751 34.2916 48.7084 34.7083 49.0001C35.9583 49.7917 36.8333 49.5001 37.4583 48.1251C37.9166 47.0834 38.2083 44.7501 38.2916 43.5834V42.4167L38.4166 41.2917L38.2916 40.1251V38.8751C38.25 36.8751 37.875 34.1667 36.125 33.0001C35.4166 32.5001 34.5416 32.2917 33.7083 32.1251Z"
          ></path>
        </svg>
      </span>
       Активное сообщество <br /> творческих людей здесь
    </a>
    <a
      aria-label="Внешняя ссылка на профиль Авито"
      href="https://m.avito.ru/user/ba4a1c2b41a38f02962c88013f8b1794/profile?src=sharing"
      target="__blank"
      ><span class="socialItem">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="84"
          height="78"
          viewBox="0 0 84 78"
        >
          <path
            d="M60.75 0.166569H61.5C64.625 0.0832356 67.75 0.583235 70.625 1.8749C76.9583 4.66657 81.6667 10.4999 82.7917 17.3749L83.125 20.2499C83.1667 23.0416 82.875 25.5832 81.9167 28.2499C79.9167 33.8332 75.5 38.3749 70 40.5832C66.75 41.8332 64.2917 42.0416 60.875 41.9999C59.0833 41.9582 56.5417 41.3749 54.875 40.7499C52.2917 39.7916 50.0417 38.4582 48 36.5832C41.0417 30.3332 39.4167 20.2499 43.2917 11.8749C45.4167 7.29157 49.7917 3.33324 54.5 1.54157C57 0.624902 58.2083 0.541569 60.75 0.166569ZM28.25 5.16657C31.7083 4.7499 35.2917 5.70824 37.75 8.2499C42.875 13.5416 41.2917 22.4582 34.625 25.6666C32.875 26.4999 31.2917 26.6666 29.375 26.6249C27.9167 26.6249 26.4583 26.1666 25.125 25.5416C20.25 23.1249 18 17.3749 19.75 12.2499C21.0833 8.33324 24.25 5.91657 28.25 5.16657ZM25.375 27.3332C29.625 27.3749 32.9167 28.0416 36.75 29.8749C39.0833 30.9582 41.4167 32.6666 43.25 34.4999C45.2917 36.5416 46.9167 38.6666 48.2083 41.2499C49.5417 43.9166 50.4583 47.1666 50.75 50.1249V51.3749L50.875 52.7499L50.75 53.7499V54.9999C50.1667 60.6666 48 65.3332 44.2917 69.6249C42.0833 72.1666 38.9167 74.2916 35.875 75.7082C33.625 76.7499 31.2083 77.3332 28.75 77.6666C27.7917 77.7916 27.7917 77.8749 26.75 77.8749H24.75L23.5 77.7499C21.4167 77.6249 19.375 77.2082 17.375 76.5416C14.0417 75.4166 10.9583 73.5832 8.37499 71.2082C-0.12501 63.5416 -2.12501 50.4999 3.29166 40.4999C6.62499 34.3332 12.3333 29.8749 19.125 28.1249C20.3333 27.7916 22.625 27.3749 23.875 27.3332H25.375ZM65.625 42.7916H68.5C70.375 42.7499 72.5417 43.3332 74.25 44.0832C76.1667 44.9582 77.5 45.8749 79 47.3749C84.6666 53.0416 85.375 62.0832 80.5833 68.4999C79.125 70.4166 77.2083 71.9999 75.125 73.1249C73.375 74.0832 70.5833 74.8749 68.625 74.8749H66.375C65.2083 74.8749 63.625 74.4999 62.5 74.1249C57.6667 72.5416 54 68.9582 52.3333 64.1249C51.5833 61.9999 51.5 60.2082 51.5 57.9999C51.5 57.0832 51.75 55.7499 51.9583 54.8749C53.0833 50.3749 55.9167 46.7499 60 44.5416C61.7917 43.5832 63.6667 43.0832 65.625 42.7916Z"
          ></path>
        </svg></span
      >
    </a>
  </div>
</section>

<style>
  .social {
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .social a {
    display: flex;
    align-items: center;
  }
  .social a:nth-child(2) {
    padding: 1rem;
    flex: 2;
  }
  .social a:nth-child(2) .socialItem svg {
    fill: var(--ds-colors-secondary);
  }
  .social a::hover {
    color: var(--ds-colors-secondary);
    fill: var(--ds-colors-secondary);
  }
  .social a:focus {
    outline: 1px solid var(--ds-colors-primary);
  }
  .socialItem {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
  }
  .socialItem svg {
    fill: var(--ds-gray-300);
    min-width: 75px;
    stroke: none;
  }

  .socialItem svg:hover {
    fill: var(--ds-colors-primary);
  }
  @media (max-width: 600px) {
    .social {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      height: unset;
      padding: 1rem 0;
      gap: 2rem;
    }
    .social a {
      flex-direction: column;
      text-align: left;
    }
  }
</style>
